body
    background: #ddd

.main
    margin-top: 70px;

.users_list
    width: 300px;

.page.user-view
    img
        width: 250px
        height: 250px
    p
        font-size: 29px
        margin: 10px 67px

@media (min-width: 768px)
    .users_list
        padding: 5px 0;
        table
            margin-left: 40px;
        td
            padding: 5px 0;