body {
  background: #ddd;
}
.main {
  margin-top: 70px;
}
.users-list {
  width: 300px;
}
.page.user-view img {
  width: 250px;
  height: 250px;
}
.page.user-view p {
  font-size: 29px;
  margin: 10px 67px;
}
@media (min-width: 768px) {
  .users-list {
    padding: 5px 0;
  }
  .users-list table {
    margin-left: 40px;
  }
  .users-list td {
    padding: 5px 0;
  }
}
