tr
    td
        span(role='user-fullName-item')
    td
        a.btn.btn-default(role='action-user-view') View
    td
        a.btn.btn-default(role='action-user-edit') Edit
    td
        a.btn.btn-default(role='action-delete-user') Delete