body
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') body(view)
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='/') home
                    li
                        a(href='/users') users
                    li
                        a(href='/users/create') new user
                    li
                        a(href='/um') rota um
                    li
                        a(href='/dois') rota dois
                    li
                        a(href='/tres') rota três

                p.navbar-text.navbar-right(href='#', role='user-name') some-user
    .container
        .main(role='page-container')