body
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') body(view)
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='/') home
                    li
                        a(href='/users') users
                    li
                        a(href='/detail/1') detail/1
                    li
                        a(href='/um') um
                    li
                        a(href='/dois') dois
                    li
                        a(href='/tres') três
                        
                p.navbar-text.navbar-right(href="#", role="user-name") some-user
    .container
        .main(role="page-container")